body{
	font-family: 'Open Sans', sans-serif;
	color: #505759;
}

a{
	text-underline-position: under;
}

.main{
	float:none!important;
	padding-left:0!important;
	padding-right:0!important;
	padding-top:61px;
}

.clearfix{
	zoom: 1; // For IE 6/7 (trigger hasLayout)   
	&:before, &:after {     
		content: "";     
		display: table;   
	}   
	&:after {     
		clear:both;   
	} 
}

.no-padding, .noPadding{
	padding:0!important;
}

.breadcrumb{
	background:#fff;
	padding:0;
	border-radius:0;
	margin-top:5px;
	
	& > li + li:before{
		content:"\003e";
	}
	
	a{
		color:#505759;
	}
}

.img-responsive{
	max-width:auto;
	width:100%;
}

a{
	&.btn_single_download{
		padding:5px 13px 5px 35px;
		color:#fff;
		background:url(../img/common/bg_gradient_download.png) repeat-x;
		background-size: contain;
		border-radius:2px;
		display:inline-block;
		box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
		position:relative;
		
		&:before{
			content:"";
			width:24px;
			height:24px;
			background:url(../img/common/ic-file-download-white@2x.png) no-repeat center;
			background-size:24px auto;
			padding-right:5px;
			display:inline-block;
			position:absolute;
			top:5px;
			left:5px;
		}
	}
}

select{
	color:#000;
	-webkit-appearance: none;
	background:url(../img/common/bg_select.png) no-repeat right center;
	background-size:contain;
	border-radius: 2px;
	padding-right:40px!important;
	border-color:#CCCCCC;
}

select::-ms-expand {
    display: none;
}

//===============================================================================
//===============================================================================
// tablet
//===============================================================================
//===============================================================================
@media (min-width: @screen-sm-min) {
	.main{padding-top:68px;}
}

//===============================================================================
//===============================================================================
// Desktop
//===============================================================================
//===============================================================================
@media (min-width: @screen-md-min) {
	.main{padding-top:0;}
}

//===============================================================================
//===============================================================================
// Wide desktop
//===============================================================================
//===============================================================================
@media (min-width: @screen-lg-min) {

}